.logo {
  position: relative;
  top: 40px;
  left: 800px;
  z-index:2;
  
   -webkit-box-reflect: below 10px -webkit-linear-gradient(top, transparent 10%, transparent 40%,  rgba(255,255,255,0.9));
}
#logo {
  -webkit-transform: translateX(-600px) translateY(90px) translateZ(-290px) rotateX(-4deg) rotateY(-45deg) rotateZ(0deg);
  -moz-transform: translateX(-600px) translateY(-30px) translateZ(-290px) rotateX(-28deg) rotateY(-45deg) rotateZ(-2deg);
}
#moz-reflect-logo:after {
    content: "";
    display: none;
}

#moz-reflect-logo.enableMozReflection:after {
    display: block;

    background: -moz-linear-gradient(top, white, white 30%, rgba(255,255,255,0.6) 65%, rgba(255,255,255,0.3)) -60px,
	            -moz-element(#moz-reflect-logo)  0px -77px no-repeat;
    position:relative;
    width: auto;
    height: 175px;
    margin-bottom: 0px;
    -moz-transform: scaleY(-1);
}
.spectrum {
	position: relative;
	top: -20px;
	left: 265px;
	z-index:1;
 
	-webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.4));
}
#spectrum {
  -webkit-transform: translateX(-150px) translateY(-140px) translateZ(-460px) rotateX(-38deg) rotateY(40deg);
  -moz-transform: translateX(-150px) translateY(-580px) translateZ(-500px) rotateX(-50deg) rotateY(40deg);  
}

#moz-reflect-spectrum:after {
    content: "";
    display: none;
}

#moz-reflect-spectrum.enableMozReflection:after {
    display: block;
	background: -moz-linear-gradient(top, white, white 30%, rgba(255,255,255,0.6) 65%, rgba(255,255,255,0.3)) -60px,
	            -moz-element(#moz-reflect-spectrum)  0px -27px no-repeat;
	position:relative;
	top: 0px;
    width: auto;
	height: 165px;
	margin-bottom: 0px;
	-moz-transform: scaleY(-1);
}

.drop {
  position: relative;
	width:300px;
	height:300px;
}
#drop {
  -xxwebkit-transform: translateX(180px) translateY(-40px) translateZ(-80px) rotateX(25deg) rotateY(0deg) rotateZ(-10deg);
  -webkit-transform: translateX(180px) translateY(-40px) translateZ(0px) rotateX(25deg) rotateY(0deg) rotateZ(-10deg);
  -moz-transform: translateX(180px) translateY(-530px) translateZ(0px) rotateX(15deg) rotateY(0deg) rotateZ(-10deg);
}
